body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--dark-brown);
}

:root {

  --dark-gray: rgb(37, 37, 37);
  --white: white;
  --gray: grey;
  --navbar-height: 64px;


  /* CSS HEX */
  --van-dyke-brown: #76422D;
  --brown-sugar: #ac6041ff;
  --caput-mortuum: #553024ff;
  --old-burgundy: #221713;
  --cedar-chest: #bc5538ff;
  --davys-grey: #585d5fff;
  --silver-pink: #d9c4c1ff;

  --dark-brown: var(--old-burgundy);
  --brown: var(--caput-mortuum);
  --light-brown: var(--brown-sugar);
  --orange: var(--cedar-chest);
  --grey: var(--davys-grey);
  --light: #ffffff;
  --nav-text-color: var(--dark-brown);


}